{% extends 'layout.html.twig' %}
{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}

<div class="well">
    {{ form_start(cuveForm, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="form-group">
        {{ form_label(cuveForm.reference, null, { 'label_attr':  {
        'class': 'col-sm-4 control-label'
    }}) }}
    <div class="col-sm-6">
        {{ form_errors(cuveForm.reference) }}
        {{ form_widget(cuveForm.reference, { 'attr':  {
        'class': 'form-control'
    }}) }}
</div>
</div>
<div class="form-group">
    {{ form_label(cuveForm.capacite, null, { 'label_attr':  {
    'class': 'col-sm-4 control-label'
}}) }}
<div class="col-sm-6">
    {{ form_errors(cuveForm.capacite) }}
    {{ form_widget(cuveForm.capacite, { 'attr':  {
    'class': 'form-control',
    'rows': '8'
}}) }}
</div>
</div>
<div class="form-group">
    {{ form_label(cuveForm.dateachat, null, { 'label_attr':  {
    'class': 'col-sm-4 control-label'
}}) }}
<div class="col-sm-6">
    {{ form_errors(cuveForm.dateachat) }}
    {{ form_widget(cuveForm.dateachat, { 'attr':  {
    'class': 'form-control',
    'rows': '8'
}}) }}
</div>
</div>
<div class="form-group">
    {{ form_label(cuveForm.datecontrole, null, { 'label_attr':  {
    'class': 'col-sm-4 control-label'
}}) }}
<div class="col-sm-6">
    {{ form_errors(cuveForm.datecontrole) }}
    {{ form_widget(cuveForm.datecontrole, { 'attr':  {
    'class': 'form-control',
    'rows': '8'
}}) }}
</div>
</div>
<div class="form-group">
    <div class="col-sm-offset-4 col-sm-3">
        <input type="submit" class="btn btn-primary" value="Enregistrer" />
    </div>
</div>
{{ form_end(cuveForm) }}
</div>
{% endblock %}