{% extends 'layout.html.twig' %}
{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}

<div class="well">
    {{ form_start(cuvemonitoreeForm, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="form-group">
        {{ form_label(cuvemonitoreeForm.cuve, null, { 'label_attr':  {
        'class': 'col-sm-4 control-label'
    }}) }}
    <div class="col-sm-6">
        {{ form_errors(cuvemonitoreeForm.cuve) }}
        {{ form_widget(cuvemonitoreeForm.cuve, { 'attr':  {
        'class': 'form-control'
    }}) }}
</div>
</div>
<div class="form-group">
    {{ form_label(cuvemonitoreeForm.moduleBLE, null, { 'label_attr':  {
    'class': 'col-sm-4 control-label'
}}) }}
<div class="col-sm-6">
    {{ form_errors(cuvemonitoreeForm.moduleBLE) }}
    {{ form_widget(cuvemonitoreeForm.moduleBLE, { 'attr':  {
    'class': 'form-control',
    'rows': '8'
}}) }}
</div>
</div>
<div class="form-group">
    {{ form_label(cuvemonitoreeForm.seuilMin, null, { 'label_attr':  {
    'class': 'col-sm-4 control-label'
}}) }}
<div class="col-sm-6">
    {{ form_errors(cuvemonitoreeForm.seuilMin) }}
    {{ form_widget(cuvemonitoreeForm.seuilMin, { 'attr':  {
    'class': 'form-control',
    'rows': '8'
}}) }}
</div>
</div>
<div class="form-group">
    {{ form_label(cuvemonitoreeForm.seuilMax, null, { 'label_attr':  {
    'class': 'col-sm-4 control-label'
}}) }}
<div class="col-sm-6">
    {{ form_errors(cuvemonitoreeForm.seuilMax) }}
    {{ form_widget(cuvemonitoreeForm.seuilMax, { 'attr':  {
    'class': 'form-control',
    'rows': '8'
}}) }}
</div>
</div>
<div class="form-group">
    <div class="col-sm-offset-4 col-sm-3">
        <input type="submit" class="btn btn-primary" value="Enregistrer" />
    </div>
</div>
{{ form_end(cuvemonitoreeForm) }}
</div>
{% endblock %}