{% extends 'layout.html.twig' %}

{% block title %}Vue d'ensemble{% endblock %}

{% block content %}
<div id="container" style="min-width: 300px; height: 400px; margin: 0 auto></div>
{% endblock %}

{% block script %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script>
	var chart;
	function requestData() {
		$.ajax({
			url: '{{ path('graph_sample_livedata') }}',

			success: function(point) {
				var series = chart.series[0];
				var shift = series.data.length > 5; 
				var lastIdx = series.data.length > 0 ? series.data.length - 1 : null;

				if (lastIdx != null) {
					console.log("series.data[" + lastIdx + "] : " + series.data[lastIdx].x );
					console.log("point[0] : " + point[0] );
				}

			// Ajoute le point
			if((point[0] != -1) && (lastIdx == null  || (series.data[ lastIdx ].x != point[0]))) {
				chart.series[0].addPoint(point, false, shift);
				chart.redraw();
			}

			// effectue la fonction RequestData toute les 10secondes
			setTimeout(requestData, 10000);    
		},

		cache: false,

		complete: function(resultat, statut) {
			//alert("Ajax Complete : " + resultat + " / " + statut);
		},

		error: function(exception){alert('Exception:' + exception);}
	});
	}

	$(document).ready(function() {
		Highcharts.setOptions({
			global : {
				useUTC : false
			}
		});
		chart = new Highcharts.Chart({
			chart: {
				renderTo: 'container',
				type: 'spline',
				events: {
					load: requestData
				}
			},
			title: {
				text: 'Test graphique dynamique'
			},
			xAxis: {
				//categories : [],
				labels: {
					formatter: function() {
						return Highcharts.dateFormat('%d-%m-%Y<br/>%H:%M:%S', this.value)
					},
					rotation: 45,
					step: 2,
					align: 'left',
					y: 20
				}
			},
			yAxis: {
				title: {
					text: 'Température'
				}
			},
			series: [{
				name: 'Capteur Arduino',
				data: []
			}]
		});

	});

</script>
{% endblock %}