{% extends 'layout.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>

<div class="box box-solid">
	<!-- /.box-header -->
	<div class="box-body">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
				<li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<img class="img-responsive center-block" src="/img/carousel1.jpg" alt="First slide">
				</div>
				<div class="item">
					<img class="img-responsive center-block" src="/img/carousel2.jpg" alt="Second slide">
				</div>
				<div class="item">
					<img class="img-responsive center-block" src="/img/carousel3.jpg" alt="Third slide">
				</div>
			</div>
			<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
				<span class="fa fa-angle-left"></span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
				<span class="fa fa-angle-right"></span>
			</a>
		</div>
	</div>
	<!-- /.box-body -->
</div>
<!-- /.box -->
{% endblock %}
