<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dashboard | {% block title %}{% endblock %}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.5 -->
  <link href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link href="{{ app.request.basepath }}/css/AdminLTE.css" rel="stylesheet">
  <link href="{{ app.request.basepath }}/css/skin-blue.min.css" rel="stylesheet">
</head>
<body class="skin-blue sidebar-mini">
  <div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

      <!-- Logo -->
      <a href="{{ path('home') }}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>2</b>SP</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>2SP</b>electronic</span>
      </a>

      <!-- Header Navbar -->
      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
          {% if app.user and is_granted('ROLE_ADMIN') %}
            <li class="{% if adminMenu is defined %}active{% endif %}"><a href="{{ path('admin') }}"><span class="glyphicon glyphicon-cog"></span> Administration</a></li>
          {% endif %}
            {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
            <!-- User Account Menu -->
            <li class="dropdown user user-menu">
              <!-- Menu Toggle Button -->
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <!-- The user image in the navbar-->
                <img src="{{ app.request.basepath }}/img/johndoe_160x160.jpg" class="user-image" alt="User Image">
                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                <span class="hidden-xs">{{app.user.userName}}</span>
              </a>
              <ul class="dropdown-menu">
                <!-- The user image in the menu -->
                <li class="user-header">
                  <img src="{{ app.request.basepath }}/img/johndoe_160x160.jpg" class="img-circle" alt="User Image">
                  <p>
                     {{app.user.userName}}
                    {% if app.user and is_granted('ROLE_ADMIN') %}
                    <small>Administrateur</small>
                    {% else %}
                    <small>Opérateur</small>
                    {% endif %}
                  </p>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-right">
                    <a href="{{ path('logout')}}" class="btn btn-default btn-flat">Déconnexion</a>
                  </div>
                </li>
              </ul>
              {% else %}
              <!-- User login -->
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Se connecter<span class="caret"></span></a>
                <ul id="auth" class="dropdown-menu" style="padding: 20px 10px 5px 10px; width:300px;">
                  <li>
                    <form action="{{ path('login_check') }}" method="post">
                       {% if error %}
                       <div class="alert alert-danger alert-dismissible">
                          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                          <i class="icon fa fa-ban"></i> Erreur d'identification
                       </div>
                       <!-- <div>$$ error.message $$</div> -->
                       {% endif %}
                      <div class="form-group has-feedback">
                        <input type="text" class="form-control" id="pseudo" name="_username" placeholder="Identifiant">
                        <span class="icon fa fa-user form-control-feedback"></span>
                      </div>
                      <div class="form-group has-feedback">
                        <input type="password" class="form-control" id="inputPassword" name="_password" placeholder="Mot de passe">
                        <span class="icon fa fa-lock form-control-feedback"></span>
                      </div>
                      <button type="submit" class="btn btn-default btn-flat"><span class="glyphicon glyphicon-log-in"></span> Connexion</button>
                    </form>
                  </li>
                </ul>
              </li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <li class="header">MENU</li>
            <!-- Optionally, you can add icons to the links -->
            <li  {% if app.request.attributes.get('_route') == 'home' %}class="active"{% endif %}><a href="{{ path('home') }}"><i class="fa fa-child"></i> <span>Bienvenue</span></a></li>
            {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
            <li {% if app.request.attributes.get( '_route' ) starts with 'graph' %} class="active"{% endif %} class="treeview">
              <a href="#">
                <i class="fa fa-line-chart"></i>
                <span>Graphiques</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li {% if app.request.attributes.get('_route') == 'graph_sample' %}class="active"{% endif %}><a href="{{ path('graph_sample') }}"><i class="fa fa-circle-o"></i>Graphique de test</a></li>
                <li {% if app.request.attributes.get('_route') == 'graph_arduino' %}class="active"{% endif %}><a href="{{ path('graph_arduino') }}"><i class="fa fa-circle-o"></i>Graphique Arduino</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i>Graphique BLE</a></li>
              </ul>
            </li>
            <li {% if app.request.attributes.get('_route') == 'pdf' %}class="active"{% endif %}><a href="{{ path('pdf') }}"><i class="fa fa-file-pdf-o"></i><span>Fichier de traçabilité</span></a></li>
            {% endif %}
          </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

          {% block content %}{% endblock %}

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

      <!-- Main Footer -->
      <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            <b>Version</b> beta1
        </div>
        <!-- Default to the left -->
        <a href="http://www.lyc-benoit.ac-aix-marseille.fr/spip/spip.php?rubrique111">BTS SN Lycée Alphonse Benoit</a>.
      </footer>
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

    <!-- REQUIRED JS SCRIPTS -->

    <!-- jQuery 2.1.4 -->
    <script src="{{ app.request.basepath }}/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="{{ app.request.basepath }}/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="{{ app.request.basepath }}/lib/app/app.min.js"></script>
    {% block script %}{% endblock %}
  </body>
  </html>
