{% extends 'layout.html.twig' %}
{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}

<div class="well">
    {{ form_start(moduleBLEForm, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="form-group">
        {{ form_label(moduleBLEForm.adresseMAC, null, { 'label_attr':  {
        'class': 'col-sm-4 control-label'
    }}) }}
    <div class="col-sm-6">
        {{ form_errors(moduleBLEForm.adresseMAC) }}
        {{ form_widget(moduleBLEForm.adresseMAC, { 'attr':  {
        'class': 'form-control'
    }}) }}
</div>
</div>
<div class="form-group">
    {{ form_label(moduleBLEForm.reference, null, { 'label_attr':  {
    'class': 'col-sm-4 control-label'
}}) }}
<div class="col-sm-6">
    {{ form_errors(moduleBLEForm.reference) }}
    {{ form_widget(moduleBLEForm.reference, { 'attr':  {
    'class': 'form-control',
    'rows': '8'
}}) }}
</div>
</div>
<div class="form-group">
    <div class="col-sm-offset-4 col-sm-3">
        <input type="submit" class="btn btn-primary" value="Enregistrer" />
    </div>
</div>
{{ form_end(moduleBLEForm) }}
</div>
{% endblock %}