{% extends 'layout.html.twig' %}

{% block title %}Fichier de traçabilité{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
<img src="{{ app.request.basepath }}/img/pdf-icon.png" class="img-responsive center-block" />
	<form class="form-horizontal" action="{{ app.request.basepath }}/lib/FPDF/pdfgeneration.php" method="post" target="_blank" >
		<div class="form-group">
			<label class="control-label col-sm-2"> Entrer la date de début:</label>
			<div class="col-sm-10">
				<input type="date" class="form-control" name="datedebut" id="datedebut">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2"> Entrer la date de fin:</label>
			<div class="col-sm-10">
				<input type="date" class="form-control" name="datefin" id="datefin">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<input type="submit" value="Générer" name="submit" class="btn btn-default"/>
			</div>
		</div>
	</form>
{% endblock %}